<!-- <navbar></navbar>
<sidenav></sidenav> -->

<!-- <md-button ui-sref="menu"   ng-click="$ctrl.toggle()" class="navbutton" layout="row" layout-align='center center'> -->
<i  ng-click="$ctrl.toggle()" class="fa fa-bars fa-2x navbutton"></i>
<!-- </md-button> -->
<div layout="row" flex>

<div class="menuheader" flex="100">
  <center>
    <!-- <img ng-src={{$ctrl.logo}} height="80px" /> -->
    ANVIK CLICKS
  </center>
</div>
</div>
<section class="about" flex>
  <div class="anvik" flex="80" flex-offset="10">
    <ul flex="100">
      <li flex>ANVIK CLICKS</li>
      <li class="photo" flex>PHOTOGRAPHY</li>
    </ul>
  </div>

  <div class="aboutanvik" flex="80" flex-offset="10">
    <p>​I'm based in Indianapolis but travel for projects around Illinois, Michigan, Ohio, Kentucky, Tennessee and Missouri.
      I am a lifestyle photographer who absolutely loves his job and everything that comes with it.
    </p>
    <p>I offer a wide range of photography services focused on professionalism, creativity and originality.
      I offer capturing of New borns, Maternity, Portraits, Couple, Family, Headshots and Events.
      No matter what's the event is, we love to capture your precious moments in your life.
  ​  </p>
    <p>My style has been described as creative, fun, engaging and relaxed. I look forward to contact you and discussing your photography needs.
    </p>
  </div>

  <div class="photoanvik" flex="80" flex-offset="10">
    &nbsp;
  </div>

</section>



<div style="visibility: hidden">
  <div class="md-dialog-container" id="myDialog">
    <md-dialog layout-padding>
      <menu></menu>
    </md-dialog>
  </div>
</div>
