<!-- <md-button ui-sref=""    class="navmenubutton " layout="row" layout-align='center center'> -->
<i ng-click="$ctrl.cancel()" class="fa fa-times fa-2x navmenubutton" ></i>
<!-- </md-button> -->

<div class="menuouter" flex>
  <div class="menuinner" flex>
    <ul flex>
      <li ng-click="$ctrl.menuclick('home')" flex>HOME</li>
      <li ng-click="$ctrl.menuclick('gallery')" flex>GALLERY</li>
      <li ng-click="$ctrl.menuclick('about')" flex>ABOUT</li>
      <li ng-click="$ctrl.menuclick('contact')" flex>CONTACT</li>
    </ul>
  </div>
</div>
