<!-- <navbar></navbar>
<sidenav></sidenav> -->

<!-- <md-button ui-sref="menu"   ng-click="$ctrl.toggle()" class="navbutton" layout="row" layout-align='center center'> -->
<i  ng-click="$ctrl.toggle()" class="fa fa-bars fa-2x navbutton"></i>
<!-- </md-button> -->
<div layout="row" flex>

<div class="menuheader" flex="100">
  <center>
    <!-- <img ng-src={{$ctrl.logo}} height="80px" /> -->
    ANVIK CLICKS
  </center>
</div>
</div>
<section class="contact" flex>

  <!-- <div flex='70' flex-offset='15'>
  <p>Anvik Clicks Photography</p>
  <p>Contact:(317)762-0943</p>
  <p>Email:anvikclicks@gmail.com</p>
  </div> -->
  <div class="contactanvik" flex="80" flex-offset="10">
    <p><span>Anvik Clicks Photography</span><br>Contact: +1 (317) 762 - 0943<br>Email: anvikclicks@gmail.com</p>
  </div>

</section>

<div style="visibility: hidden">
  <div class="md-dialog-container" id="myDialogcontact">
    <md-dialog layout-padding>
      <menu></menu>
    </md-dialog>
  </div>
</div>
